<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="EntityFramework6.Npgsql" version="6.4.3" targetFramework="net481" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net481" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net481" />
  <package id="Microsoft.Web.Xdt" version="3.1.0" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Npgsql" version="8.0.3" targetFramework="net481" />
  <package id="NuGet.Commands" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.Common" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.Configuration" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.Credentials" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.DependencyResolver.Core" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.Frameworks" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.LibraryModel" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.PackageManagement" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.Packaging" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.ProjectModel" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.Protocol" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.Resolver" version="6.10.1" targetFramework="net481" />
  <package id="NuGet.Versioning" version="6.10.1" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections" version="4.3.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net481" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net481" />
  <package id="System.Linq" version="4.3.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net481" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>